<div class="d-flex justify-content-center">
  <h1 class="mt-4 border-bottom"><strong> Pets Adopteds </strong></h1>
</div>

<% @pets.each do |pet| %>
  <ul>
    <li><%= link_to pet.name, edit_pet_path(pet), class: "btn btn-light" %></li>
    <li><%= pet.category %></li>
    <li><%= pet.birth %></li>
    <li><%= link_to "Remove", pet_path(pet), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" } %></li>
  </ul>
<% end %>
