<footer>
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/RaphaRCruz">
        <i class="fab fa-github">
          ::before
        </i>
      </a>
    </div>
  </div>
</footer>
